header{
    background-color: #87c3d5;
    text-align:center;
    height: 60px;
    line-height: 60px;
}

.flex-container {
    display: flex;
    margin: 15px;
    justify-content: center;
    text-align: center;
    background-color: rgb(232, 228, 241);
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  #today-area {

    height:30%;
    border: 1px ridge #797272;
  }
  
  #forecast-container{
 
    height:fit-content;
    justify-content: center; 
  }
  #cardContainer{
    text-align: left;
    height:fit-content;
    justify-content: center; 
  }
  .search-area {

    width:20%;
    height:inherit;
  }

h1{
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333333;
    font-style: normal;
}
h2{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #333333;
    font-style: normal;
}

.search-form{
    margin:left;
    max-width:300px;
}

form.search-form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
  }
  
  form.search-form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }

  form.search button:hover {
    background: #0b7dda;
  }

  img {
    display: block;
    max-width: 50%;
    height: auto;
    align-self: center;
  }

  #list-hst-btn {
      /* align-content:; */
      color: rgb(221, 221, 221); ;
      line-height: 0;
      padding: 10px 24px;
      /* Some padding */
      cursor: pointer;
      /* Pointer/hand icon */
      width:150px;
      /* Set a width if needed */
      display: inline-block;
      /* Make the buttons appear below each other */
      margin:auto;
      text-align:inherit;
      margin-top:0;
      margin-bottom: 50px;

  }

  #list-hst-btn button:not(:last-child) {
      border-bottom: none;
      /* Prevent double borders */
  }
  